 

.deleteItem{

float:right;
color:red;
cursor:pointer;
}	

.editItem{
	
	float:right;
color:red;
	
}


.selectItem{
	
	float:right;
color:red;
	
}

.done{

	text-decoration: line-through;
	color:red;
	opacity: 0.5;
}

	