
.done{
	
	text-decoration:line-through;
		opacity: 0.5;
}

	#todos {

		list-style-type:none;
		margin:0;
		padding:0;
 
          }

	#todos li{
		
	padding:20px 0px 20px 0px; 
	border-bottom:1px solid #CCC;
}
	
	
.deleteItem{

float:right;
color:red;
cursor:pointer;
}	

.completeItem{
	
	margin-right:200px;
}



.saveitem{
	
	display:none
	
}

.editText{
	
	display:none;
	
}
	